<form action="/<%= presentClassId %>/<%= presentBatchId %>/deleteClass" method="POST">
 
      <button class="btn m-auto btn-info color-btn btn-lg"id="main-btn-edit"><a href="/home">CANCEL</a></button>
  
      <button type="submit" class="btn  btn-outline-info color-btn btn-lg "id="main-btn-edit">DELETE</button>

  
</form>