<form action="/<%= presentClassId %>/<%= presentBatchId %>/updateClass" method="POST">

  <input type="text" placeholder="subject" name="subject" class="form-control" required>

  <button class="btn m-auto btn-info color-btn btn-lg" id="main-btn-edit"><a href="/home">CANCEL</a></button>

  <button type="submit" class="btn btn-outline-info color-btn btn-lg " id="main-btn-edit">Save</button>

</form>